@model ACC.Models.Customer

@{
    ViewBag.Title = "Details";
}

 

<div id="printdiv">
    <img src="~/Images/top_neader.PNG" />

    <div>
        <hr />
        <h2 class="text-center ">تقرير الزبائن</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt class="text-lg-right">
                @Html.DisplayNameFor(model => model.Customer_Name):
                @Html.DisplayFor(model => model.Customer_Name)
            </dt>
            <dt class="text-lg-right ">
                @Html.DisplayNameFor(model => model.IDCard):
                @Html.DisplayFor(model => model.IDCard)
            </dt>
            <dt class="text-lg-right ">
                @Html.DisplayNameFor(model => model.Mobile1):
                @Html.DisplayFor(model => model.Mobile1)
            </dt>
            <dt class="text-lg-right ">
                @Html.DisplayNameFor(model => model.Balance)
                @Html.DisplayFor(model => model.Balance)
            </dt>
        </dl>
    </div>

            <table id="print" class="display">
                <thead>
                    <tr>

                        <td class="text-xl-right">
                            النوع
                            </th>
                        <td class="text-xl-right">
                            التاريخ
                            </th>

                        <td class="text-xl-right">
                            المبلغ
                            </th>
                        <td class="text-xl-right">
                            البيان
                            </th>
                       
                    </tr>
                </thead>
                <tbody>

            @foreach (ACC.Models.Transaction item in ViewBag.CustomerTransaction)
            {
            <tr>
                <td class="text-xl-right">
                    @Html.DisplayFor(modelItem => item.Transaction_Types.Transaction_Type)
                </td>
                <td class="text-xl-right">
                    @Html.DisplayFor(modelItem => item.Transaction_Date)
                </td>

                <td class="text-xl-right">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td class="text-xl-right table-primary">
                    @Html.DisplayFor(modelItem => item.Transaction_Name)
                </td>
               
            </tr>
            }


            </tbody></table>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
