@model IEnumerable<ACC.Models.Customer>

@{
    ViewBag.Title = "Index";
}

    <div class="jumbotron">
        <h1 class="card-title text-center">@Resources.ACC.Customer </h1>
        <hr />
        <!-- Search form -->
        @using (Html.BeginForm())
        {
            <div dir="rtl">
                <div class="form-group row">
                    <div class="col-md-4">
                        @Html.ActionLink("ملتزم", "Index2", new { area = "", fromDay = 0, ToDay = 40 }, new { @class = " btn btn-success btn-block" })
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("60", "Index2", new { area = "", fromDay = 40, ToDay = 60 }, new { @class = " btn btn-primary btn-block" })
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("90", "Index2", new { area = "", fromDay = 60, ToDay = 90 }, new { @class = " btn btn-primary btn-block" })
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("120", "Index2", new { area = "", fromDay = 90, ToDay = 120 }, new { @class = " btn btn-primary btn-block" })
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink(">120", "Index2", new { area = "", fromDay = 120, ToDay = 100000 }, new { @class = " btn btn-primary btn-block" })
                    </div>

                </div>
                </div>
        }
        <hr />
        <table dir="rtl" id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FileNum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mobile1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                     

                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {


                <tr>
                    <td>

                        <h5> @Html.DisplayFor(modelItem => item.FileNum)</h5>
                    </td>
                    <td>

                        <h5>  @Html.DisplayFor(modelItem => item.Customer_Name)</h5>
                    </td>
                    <td>
                        <h5>
                            @Html.DisplayFor(modelItem => item.Balance)
                        </h5>
                    </td>
                    <td>
                        <h5>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </h5>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile1)
                        <br />

                        @Html.DisplayFor(modelItem => item.Mobile2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                     

                    <td>

                        @if (User.Identity.IsAuthenticated)
                        {


                            @Html.ActionLink(" ", "Details_Ver2", new { id = item.PK_Customer }, new { @class = "btn btn-primary btn-sm fa fa-print" })

                        }


                    </td>
                </tr>
                }



            </tbody>
        </table>



    </div>








